<!DOCTYPE html>
<html>

   <head>
      <title>Title</title>
      <link href="styles.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <form action="/api/fileanalyse" method="post" enctype="multipart/form-data">
            <fieldset>
               <legend>Please choose a file to be uploaded:</legend>
               <input type="file" name="upfile"></br>
               <input type="submit" value="Send">
            </fieldset>
         </form>
      </div>
   </body>

</html>